input, select{

    border-radius: 5px;
    border: 1px solid #e7e7e7;
    padding: 8px 20px;
    font-size: 16px

}

.formulario{
    /* margin-left: 50px;*/
    margin-top: 50px; 
    display: flex;
    gap:20px;
    justify-content:center;
}

.formulario > div{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn{
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    align-self:center;
    padding: 10px 25px;
    background: #7AD6D2;
    color: #fff;
}